<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://poc-function-api-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8cfee0bf-59d2-431b-bd7a-dab8bbc1c6fe/resourceGroups/POC_FUNCTION_API_RG/providers/Microsoft.Web/sites/poc-function-api-fn</ResourceId>
    <UserName>$poc-function-api-fn</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://poc-function-api-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>